:root {
  --bgimage-bgcolor: #050505aa;
}
.part.editor > .content {
  background-color: var(--bgimage-bgcolor) !important;
}
.editor-group-container > .editor-container {
  background-color: #00000000 !important;
}
.editor-instance > .monaco-editor-background {
  background-color: #00000000 !important;
}
.monaco-editor .monaco-editor-background {
  background-color: #00000000 !important;
}
.monaco-editor {
  background-color: #00000000 !important;
}
.monaco-editor .margin {
  background-color: #00000022 !important;
}
.editor-group-container > .tabs {
  background-color: #00000000 !important;
}
.editor-group-container > .tabs .tabs-container > .tab  {
  background-color: #00000000 !important;
}
.editor-group-container > .tabs .tab.active {
  background-color: #05050588 !important;
}
.editor-group-container > .tabs > .tabs-breadcrumbs .monaco-breadcrumbs  {
  background-color: #00000000 !important;
}
.monaco-list .monaco-list-rows  {
  background-color: #00000000 !important;
}
#workbench\.parts\.panel {
  background-color: var(--bgimage-bgcolor) !important;
}
#workbench\.parts\.sidebar {
  background-color: var(--bgimage-bgcolor) !important;
}
#workbench\.parts\.auxiliarybar {
  background-color: var(--bgimage-bgcolor) !important;
}
.split-view-view > .part > .title {
  background-color: var(--vscode-activityBar-background) !important;
}
.monaco-editor .zone-widget .zone-widget-container {
  background-color: #05050588 !important;
}